<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Contact</h1>
    <p>Questions, comments, ideas, or concerns? We want to hear from you.</p>
  </div>
</div>

<div class="container">
  <div class="container-fluid" >
    <p> If you need to contact the SNHC for clinic information or follow-up questions regarding your visit, please call or email our board. Contact information, and location on <a href="#services">clinic days</a> is found below: </p>
    <div class="col-md-offset-1 col-md-3">
      <address>
	      <strong>Our Saturday Clinic</strong><br>
        The Family Care Health Center<br>
        <a href="https://www.google.com/maps/dir//Family+Care+Health+Center,+Manchester+Avenue,+Saint+Louis,+MO">4352 Manchester Avenue</a><br>
        St. Louis, MO 63110
      </address>
    </div>
    <div class="col-md-4">
      <address>
	       <strong>Our Specialty Clinic</strong><br>
         <a href="https://www.google.com/maps/place/620+S+Taylor+Ave,+St+Louis,+MO+63110">620 S Taylor Ave</a><br>
	       St. Louis, MO 63110<br>
      </address>
    </div>
    <div class="col-md-3">
      <address>
      	<strong>Contact our Board</strong><br>
	      <a href="mailto:#">snhc@wusm.wustl.edu</a><br>
        <abbr title="Phone">P:</abbr> (314) 275-0657<br>
        <a href="https://docs.google.com/forms/d/1Ivul2fh2dpvy6vH17Q3KAfPj5K0C0FDQbuIbjD-QbJU/viewform?usp=send_form">Submit a comment or question</a>
      </address>
    </div>
  </div>

  <h2>The SNHC Board</h2>
  <div class="col-md-12">
    <div class="col-md-4">
      <h3>Co-Chairs</h3>
      <p>Damini Tandon</p>
      <p>Helena Hong</p>
    </div>
    <div class="col-md-4">
      <h3>Outreach</h3>
      <p>Danielle Chirumbole</p>
      <p>Emma Winkler</p>
    </div>
    <div class="col-md-4">
      <h3>Volunteer Recruitment</h3>
      <p>Liz Graesser</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <h3>Physician Recruitment</h3>
      <p>Kevin Tamadonfar</p>
      <p>Fatima Alvi</p>
    </div>
    <div class="col-md-4">
      <h3>Treasurer</h3>
      <p>Alexandra Keane</p>
    </div>
    <div class="col-md-4">
      <h3>Public Relations</h3>
      <p>Caroline Min</p>
    </div>
    <div class="col-md-4">
      <h3>Data Management</h3>
      <p>Toby Manders</p>
      <p>Alexandra Houston-Ludlam</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <h3>Interdisciplinary Partnerships</h3>
      <p>Maria Schwabe</p>
      <p>Teresa Chen</p>
    </div>
    <div class="col-md-4">
      <h3>Information Technology</h3>
      <p>Nakul Shah</p>
    </div>
  </div>
</div>
