<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Contact</h1>
  </div>
</div>

<div class="container">
  <p> General questions and concerns may be directed to <a href="mailto:snhc@wusm.wustl.edu">snhc@wusm.wustl.edu</a>.
    If you need to reach us during our <a href="clinicdates.html">operating hours</a>, please call our front desk at: <strong>314-531-5444</strong>.
    When you call, ask for the student coordinator.</p>
  <h2>Board Members</h2>
  <p><strong>Co-chairs:</strong><br>
    Sagar Mehta<br>
    Miriam Ben Abdallah</p>
  <p><strong>Outreach Coordinator:</strong><br>
    Nehali Mehta</p>
  <p><strong>Volunteer Recruitment:<br>
    </strong>Nick Vryhof<strong><br>
  </strong></p>
  <p><strong>Physician Recruitment:</strong><br>
    Francis Wu<br>
    Rukayat Taiwo<br>
  </p>
  <p><strong>Treasurer:</strong><br>
    Andrew Linkugel</p>
  <p><strong>Data Management:</strong><br>
    Janice Kim</p>
  <p><strong>Webmaster and Tech Coordinator:</strong><br>
    Nai Chien Yeat</p>
</div>
