<div class="jumbotron section-header">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
  </div>  
</div>


<div class="container" >
  <ol>
    <li>
      <p><strong>What are your hours of operation?</strong><br>
	The Saturday clinic is open from 9am-12pm on Saturdays. During the summer months the clinic is open on most Saturdays. The Specialty Clinic is open on Wednesdays from 6-9pm. Please see our <a href="#about">Clinic Dates page</a> for a complete listing of the dates we are open.</p>
    </li>
    <li>
      <p><strong>What types of services do you offer?</strong><br>
	We see adult patients for a wide range of primary care needs. This includes preventative care, treatment of acute and chronic medical conditions, and women's health. If there is a service that we cannot provide we will refer you to another health clinic that can provide services at a reduced fee based on your ability to pay. Unfortunately we cannot provide dental services and cannot make dental referrals at this time. If you are having a medical emergency, please go to the emergency room at your local hospital or call 911.</p>
    </li>    
    <li>
      <p><strong>Who is eligible to come to the SNHC?</strong><br>
	SNHC is only open to patients without any insurance. If you have insurance we encourage you to visit one of the following clinics, which offer services for a reduced fee based on your ability to pay:</p>
      <ul>
	<li>
	  <p><a href="http://www.familycarehealthcenter.org/">Family Care Health Centers</a><br>
	    Carondelet Location<br>
	    401 Holly Hills Avenue<br>
	    (314) 353-5190<br>
	    Forest Park Southeast Location<br>
	    4352 Manchester Avenue<br>
	    (314) 531-5444</p>
	</li>
	<li>
	  <p><a href="http://www.chipsstlouis.org/">Community Health-In-Partnership Services</a><br>
	    2431 N. Grand Blvd.<br>
	    St. Louis, MO 63106<br>
	    (314) 652-9231</p>
	</li>
	<li>
	  <p><a href="http://affiniahealthcare.org/">Affinia Healthcare</a><br>
	    (formerly Grace Hill Health Centers)<br>
	    A number of locations across St. Louis<br>
	    (314) 814-8700</p>
	</li>
	<li>
	  <p><a href="http://www.mhdchc.org/">Myrtle Hilliard Davis Comprehensive Health Centers</a><br>
	    Three locations in St. Louis<br>
	    (314) 633-6363</p>
	</li>
      </ul>
    </li>    
    <li>
      <p><strong>Am I expected to pay anything towards the cost of my visit?</strong><br>
	Your visit to SNHC is free. If the physician prescribes you any medications, we work hard to keep the cost of the medication low or free of charge. If we cannot provide you with a particular service, we will refer you to another health center that offers that service at a reduced cost based on your ability to pay.</p>
    </li>
    <li>
      <p><strong>Do I need to make an appointment?</strong><br>
	We do not take appointments. Patients are seen on a first come, first serve basis. Due to the limited number of staff members we have at the clinic, we can only see the first 9 patients who come in each Saturday. We encourage you to arrive as early as possible in order to ensure that you can be seen in a timely manner.</p>
    </li>    
    <li>
      <p><strong>Who will see me at the clinic?</strong><br>
	The clinic is staffed by Washington University physicians and medical students. Nurses from the Family Care Health Center assist with lab tests and vaccinations.</p>
    </li>    
    <li>
      <p><strong>What can I expect from the typical visit?</strong><br>
	When you arrive, please tell the receptionist you are there for the Saturday Neighborhood Health Clinic. Patients will be seen in the order that they arrive, so please be prepared to wait. When the medical team is ready to see you, you will first be seen by two medical students. These student doctors will ask you questions about your health and about what brought you into the clinic. They will then perform a physical exam based on your symptoms. The student doctors will report this information to the physician. The physician may also perform parts of the physical exam. If you need any laboratory tests, they will be performed at this time. The student doctors and the physician will talk to you about their findings and discuss potential treatments. You will then be discharged home with any necessary prescriptions and a referral for a local primary care provider.</p>
    </li>    
    <li>
      <p><strong>How many times can I visit the clinic?</strong><br>
	The primary goal of the SNHC is to guide our patient through the process of finding a long-term primary care home. As such, we limit patients to three SNHC visits for the same complaint, while assisting them in making a primary care appointment at a local Federally Qualified Health Center (FQHC).</p>
    </li>    
    <li>
      <p><strong>Where are you located?</strong><br>
	The Saturday clinic is located inside the Family Care Health Center at 4352 Manchester Avenue, St. Louis, Missouri. 
	The Wednesday clinic is located inside the Infectious Diseases outpatient clinic at 4570 Children's Place on the Washington University Medical Campus, near the CWE MetroLink stop. Please click <a href="#contact">this link</a> for directions.
	</p>
    </li>
  </ol>
</div>
