<div class="jumbotron masthead">
  <div class="container-float">
    <h1>The Saturday Neighborhood Health Clinic</h1>
    <p class="lead"> A community service of the Washington University in St. Louis School of Medicine.</p>
  </div>
</div>

<iframe src="https://player.vimeo.com/video/188660847" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/188660847">Saturday Neighborhood Health Clinic</a> from <a href="https://vimeo.com/user54861497">School of Medicine Annual Fund</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<div class="container marketing" style="padding:75px">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="img/for_patients.jpg" alt="Patient" style="width: 140px; height: 140px;">
      <h2>For Patients</h2>
      <p>We provide basic health care to uninsured members of our community completely free of cost, with the goal of taking care of our patients' immediate needs while helping them find a long-term primary care physician.</p>
      <p><a class="btn btn-default" href="#services" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="img/for_physicians.jpg" alt="John Atkinson, MD" style="width: 140px; height: 140px;">
      <h2>For Physicians </h2>
      <p>The SNHC is typically staffed by one attending physician at each clinic date. That physician is responsible for both mentoring the students and for the high-level care of the patients that day.</p>
      <p><a class="btn btn-default" href="#physicians" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="img/for_students.jpg" alt="Student" style="width: 140px; height: 140px;">
      <h2>For Students</h2>
      <p>The SNHC is a student-run clinic. We rely on student volunteers to staff our clinic each week. In return, we help them hone their skills&mdash;from history-taking to mentoring other students&mdash;while giving back to the community.</p>
      <p><a class="btn btn-default" href="#medstudents" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
