<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Medical Student Volunteers</h1>
    <p> The Saturday Neighborhood Health Clinic (SNHC) is staffed each weekend by three teams, each consisting of a paired preclinical and clinical medical student.</p>
  </div>
</div>

<div class="container" ng-init="clinfilter='preclinical'">
  <div class="fluid-container col-lg-9"><h1>Upcoming Availiable Dates</h1></div>
  <div class="btn-group col-lg-3">
    <input ng-model="clinfilter" value="preclinical" type="radio">Preclinical</input></br>
    <input ng-model="clinfilter" value="clinical" type="radio">Clinical</input></br>
    <input ng-model="clinfilter" value="attending" type="radio">Attending</input></br>
  </div>
  <table class="table table-striped" ng-controller="CalCtrl" >
    <tr ng-repeat="event in cal_events | limitTo:5" ng-controller="FirebaseCtrl" ng-show="open(clinfilter)" >
      <td> <strong>{{event.title}}</strong> ({{event.id}})</td>
      <td> {{ event.start | date:"MMMM d, y h:mm" }} - {{event.end | date: "h:mm a"}} </td>
      <td> <form ng-submit="volunteer(clinfilter)"> <button type="submit">Volunteer</button> </form> </td>
    </tr>
  </table>
</div>
