<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Medical Student Volunteers</h1>
    <p> The Saturday Neighborhood Health Clinic (SNHC) is staffed each weekend by three teams, each consisting of a paired preclinical and clinical medical student.</p>
  </div>
</div>

<!--
<div class="container">  
  <h2>Sign Up</h2>
  <ol> 
    <li> Log in to <a href="https://snhc.wusm.wustl.edu/">SharePoint</a> using "medpriv\" + your Medportal username
      <ol type="a" >
	<li> You <u>must</u> use backslash = "\", not "/" </li>
	<li> Example: For student Jane Smith, type <b>medpriv\smithj</b> </li>
      </ol>
    <li> <u>Mouse over</u> dates (in the left column) to view sign-up slots. </li>
    <li> Click on a date to view the entry for that day in more detail. <u>This will allow you to see the <strong>coordinator's email</strong> and <b>volunteers' phone numbers</b>, which are not visible on the main page due to space limitations.</u></li>
    <li>Click "<b>Edit Form</b>" <font color="red">(<b><u>NOT</u></b> <del>"New Item"</del>)</font> to type in your info on the sign-up form.<li>  
</div>
-->

<div class="container">
  <h1>Upcoming Availiable Dates</h1>
  <table class="table table-striped" ng-controller="CalCtrl" >
    <tr ng-repeat="event in cal_events | limitTo:5" ng-controller="FirebaseCtrl" >
      <td> <strong>{{event.title}}</strong> ({{event.id}})</td>
      <td> {{ event.start | date:"MMMM d, y h:mm" }} - {{event.end | date: "h:mm a"}} </td>
      <td> <form ng-submit="volunteer(event)"> <button type="submit">Volunteer</button> </form> </td>
    </tr>
  </table>
  {{fb_events}}
</div>
