<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Medical Student Volunteers</h1>
    <p> The Saturday Neighborhood Health Clinic (SNHC) is staffed each weekend by three teams, each consisting of a paired preclinical and clinical medical student.</p>
  </div>
</div>

<div class="container" ng-init="clinfilter='preclinical'">
  <h1>Upcoming Availiable Dates</h1>
  
  <p>Here, we show the upcoming dates that are availiable to each of the groups of volunteers who work with us. Filter by your role, then enter your WUSTL KEY username and click 'Volunteer' to sign up!</p>

  <div class="row">
    <div class="container">
      <div class="col-md-4 col-md-offset-2">
        <div class="input-group">
          <input type='text' ng-model='uname' class="form-control" aria-describedby="wusm-wustl-addon" placeholder="wustl key">
          <span class="input-group-addon" id="wusm-wustl.edu">@wusm.wustl.edu</span>
        </div>
      </div>
        <div class="btn-group col-md-3">
          <label class="btn btn-primary" ng-model="clinfilter" btn-radio="'preclinical'">Preclinical</label>
          <label class="btn btn-primary" ng-model="clinfilter" btn-radio="'clinical'">Clinical</label>
          <label class="btn btn-primary" ng-model="clinfilter" btn-radio="'attending'">Attending</label>
      </div>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped" ng-controller="CalCtrl" >
      <thead>
        <tr>
          <th>Event Type</th><th>Event Date</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in cal_events | limitTo:5" ng-controller="FirebaseCtrl" ng-show="open(clinfilter)" >
          <td> <strong>{{event.title}}</strong> ({{event.id}})</td>
          <td> {{ event.start | date:"MMMM d, y h:mm" }} - {{event.end | date: "h:mm a"}} </td>
          <td> <form ng-submit="volunteer(clinfilter)"> <button type="submit">Volunteer</button> </form> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
