<!-- Begin MailChimp Signup Form -->
<div class="jumbotron section-header" >
  <div class="container" >
    <h1>For our Community Partners</h1>
    <!-- <p> The Saturday Neighborhood Health Clinic (SNHC) is staffed each weekend by three teams, each consisting of a paired preclinical and clinical medical student.</p> -->
  </div>
</div>

<div class="container row">
	<div class="col-md-7">
		<!--
		<form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
		  <div ng-hide="mailchimp.result === 'success'">
		    <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='wustl'">
		    <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us10'">
		    <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='21adee5d0c43b4e0c7098526e'">
		    <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='3176d97149'">
		    <input type="text" name="fname" ng-model="mailchimp.fname" placeholder="First name">
		    <input type="text" name="lname" ng-model="mailchimp.lname" placeholder="Last name">
		    <input type="text" name="mmerge3" ng-model="mailchimp.mmerge3" placeholder="Organization" required>
		    <input type="email" name="email" ng-model="mailchimp.email" placeholder="Email address" required>
		    <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)">Join</button>
		    </div>
		  </div>
		 
		  <!-- Show error message if MailChimp unsuccessfully added the email to the list. ->
		  <div ng-show="mailchimp.result === 'error'" ng-cloak>
		    <span ng-bind-html="mailchimp.errorMessage"></span>
		  </div>
		 
		  <!-- Show success message if MailChimp returned successfully. ->
		  <div ng-show="mailchimp.result === 'success'" ng-cloak>
		    <span ng-bind-html="mailchimp.successMessage"></span>
		  </div>
		</form>
		<p> View<a href="http://us10.campaign-archive1.com/home/?u=21adee5d0c43b4e0c7098526e&id=3176d97149" title="previous campaigns">previous campaigns.</a></p>
	</div>
-->
	<div class="col-md-5">
	  <div class="fb-page" data-href="https://www.facebook.com/wusmsnhc?fref=ts" data-hide-cover="false" data-show-facepile="true" data-width="550" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/wusmsnhc?fref=ts"><a href="https://www.facebook.com/wusmsnhc?fref=ts">Washington University Saturday Neighborhood Health Clinic</a></blockquote></div></div>
	</div>
</div>
<!--End mc_embed_signup-->
