<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Physician Volunteers</h1>
    <p> Each week, the SNHC is staffed by one physician attending, who teaches and oversees the medical students.</p>
  </div>
</div>

<div class="container">
  <h2>Getting Involved</h2>
  <p>We are always trying to recruit more <strong>Washington University-affiliated physicians who are boarded in emergency medicine, internal medicine, or OB/GYN</strong> to volunteer at the clinic on a Saturday morning, from 9:00AM to about 1:00PM to 2:00PM. Washington University-affiliated physicians in other specialties, and community physicians with their own insurance policies are also encouraged to volunteer at the SNHC, though the times available may be more limited. </p>

  <p>We see an average of 9 patients during each Saturday clinic session and currently about 4 patients during our Depression and Anxiety Specialty night. You will work with up to three preclinical students and three clinical students. The students perform a full history and physical exam, then present and discuss the case with you. No orientation is needed for volunteer physicians, as our students are responsible for all paperwork. There is one student coordinator during each clinic session whose duty is to supervise paperwork and logistics. Periodically, the coordinator may  ask you to interpret lab results from the previous weeks' patients.</p>
                    
  <p>We can only see individual patients up to 3 times per year, as we are currently unable to serve as a permanent primary care venue. However, we do our best to set up appointments and connect our patients with other community health facilities (such as the Family Care Health Center) for future care.</p>
  
  <p>If you are interested in volunteering, please fill out this brief <strong><a href="http://goo.gl/forms/aVAfCBTSG2">survey</a></strong>. One of our physician coordinators (listed below) will be in touch with you to set a date that works best for you. Also feel free to <a href="#/contact">contact us</a> if you have any questions or concerns. (A list of available dates can be found <a href="https://snhc.wusm.wustl.edu/Lists/SNHC%20Sign%20UP/physicianssignup.aspx">here</a>. Use your Medpriv). We look forward to hearing from you!</p>
  
  <p>
    The 2015-2016 physician coordinators:<br>
    Kavon Javaharian<br>
    Mahati Mokkarala
  </p>
