<div class="jumbotron section-header" >
  <div class="container" >
    <h1>Resources</h1>
  </div>
</div>

<div class="container">  
  <p class="lead">
  On this page, you will find websites and contact information for some community
  resources in the St. Louis region. This is only a subset of the many resources available to our patients;
  please see the <a href="//www.startherestl.org/uploads/6/8/1/0/6810817/starthere2015_1-52.pdf">Start Here Resource Directory</a>
  for a more complete list of community organizations, hotlines, and more.</p>

  <div class="container">
    <h3>General</h3>
    <div class="col-xs-12 col-lg-6">
      <h4><a href="//www.211helps.org/">United Way/2-1-1 Helps</a></h4>
      <p>“If you need help – for anything from day care to rental assistance to counseling to vocational training – your local 2-1-1 is here.
      Multilingual services are also available.
      Your phone call is confidential and free.”</p>
      <abbr title="Phone">P:</abbr> (800) 427-4626, or dial 211
    </div>
  </div>

  <div class="container">
    <br><h3>Insurance Assistance</h3>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.Healthcare.gov/">Affordable Healthcare Act</a> ("Obamacare")</h4>
      <abbr title="Phone">P:</abbr> (800) 318-2596
      </p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.medicaid.gov/">Medicaid</a></h4>
      <p>Low cost health insurance through Medicaid or CHIP (Children’s Health Insurance Program).
      </p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.enrollmissouri.org/">Missouri Healthcare Marketplace</a></h4>
      Hotline for consumer questions and initiating the process of insurance. This website contains some extra information about the Affordable Care Act, so it might be useful to start here. <br>
      <abbr title="Phone">P:</abbr> (800) 318-2596<br></p>
    </div>
  </div>
  <div class="container">
    <h3>Federally Qualified Health Centers</h3>
    <p>Federally Qualified Health Centers (FQHCs) are community-based organizations that provide comprehensive primary care and
      preventive care, including health, oral, and mental health/substance abuse services to persons of all ages, regardless
      of their ability to pay or health insurance status. FQHCs charge for services on a community board approved sliding-fee
      scale that is based on patients' family income and size.<p>
      <div class="row">
        <div class="col-xs-6 col-lg-3">
      <h4><a href="//affiniahealthcare.org/">Affinia Healthcare</a></h4>
      <p><em>formerly Grace Hill Health Centers</em><br>
      A number of locations across St. Louis<br>
      <abbr title="Phone">P:</abbr> (314) 814-8700</p>
    </div>
    <div class="col-xs-6 col-lg-3">
      <h4><a href="//www.fchcstl.org/">Family Care Health Centers</a></h4>
      <strong>Carondelet Location</strong><br>
      401 Holly Hills Avenue<br>
      <abbr title="Phone">P:</abbr> (314) 353-5190<br>
      <strong>Forest Park Southeast Location</strong><br>
      4352 Manchester Avenue<br>
      <abbr title="Phone">P:</abbr> (314) 531-5444<br>
    </div></div>
     <div class="row">
        <div class="col-xs-6 col-lg-3">
      <h4><a href="//www.mhdchc.org/">Myrtle Hilliard Davis Comprehensive Health Centers</a></h4>
      Three locations in St. Louis<br>
      <abbr title="Phone">P:</abbr> (314) 633-6363<br>
      </div>
    <div class="col-xs-6 col-lg-3">
      <h4><a href="//www.stlouisihn.org/index-of-providers">Integrated Health Network - Provider Index</a></h4>
      The Integrated Health Network's Index of Providers is a comprehensive list of FQHCs in the St. Louis Region.
    </div>
  </div>
  <div class="container">
    <h3>Housing Resources</h3>
    <div class="col-xs-12 col-lg-6">
      <h4><a href="//www.energycare.org/">Energy Care</a></h4>
      <p>Energy-related services for the low-income, elderly, ill, disabled, and families with young children in St. Louis City and County.</p>
      <abbr title="Phone">P:</abbr> 314-733-5900
    </div>
    <div class="col-xs-12 col-lg-6">
      <h4>Homeless Hotline: Housing Resource Center</h4>
      <p>Access to homeless shelters and other housing programs (most facilities require a referral from the housing resource center; start calling at 8 AM if you are looking for a shelter for that night).</p>
      800 N. Tucker Blvd.<br>
      <abbr title="Phone">P:</abbr> (314) 802-5444<br>
      Visit <a href="//www.homelessshelterdirectory.org/">www.HomelessShelterDirectory.org</a> - a website for Missouri shelters and resources 
    </div>
  </div>
  <div class="container"/>
    <h3>Medical Devices and Medication</h3>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.respectacle.org/">Respectacle</a></h4>
      Free and reduced cost glasses. Have your prescription ready.
    </div>
  </div>
  <div class="container">
    <h3>Other Resources</h3>
    <div class="col-xs-6 col-lg-4">
      <h4>American Red Cross - <a href="//www.RedCrossStl.org/">St. Louis Chapter</a></h4>
      <abbr title="Phone">P:</abbr> (314) 333-JOBS (5627)
    </div>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.ccstl.org/">Catholic Charities</a></h4>
      <abbr title="Phone">P:</abbr> (800) 318-2596
    </div>
    <div class="col-xs-6 col-lg-4">
      <h4><a href="//www.nami.org/">National Alliance for Mental Health</a></h4>
      <abbr title="Phone">P:</abbr> (800) 273-8255
    </div>
  </div>
  <div class="container">
    <h3>Hotlines</h3>
    <div class="row">
      <div class="col-xs-4 col-lg-3">
        <strong>Call for Help - Metro East</strong><br>
        Multi-service agency for crisis situations<br>
        <abbr title="Phone">P:</abbr> 618-397-0968<br>
      </div>
      <div class="col-xs-4 col-lg-3">
        <strong>Women's Safe House</strong><br>
        <abbr title="Phone">P:</abbr> 314-772-8952<br>
      </div>
      <div class="col-xs-4 col-lg-3">
        <strong>Mental Health Hotline</strong><br>
        <abbr title="Phone">P:</abbr> 800-273-TALK (8255)<br>
      </div>
      <div class="col-xs-4 col-lg-3">
        <strong>GED Hotline</strong><br>
        <abbr title="Phone">P:</abbr> 800-626-9433
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-lg-3">
      <strong>Hunger Hotline</strong><br>
        Comprehensive list of food pantries in the St. Louis region<br>
        <abbr title="Phone">P:</abbr> 314-726-5355
      </div>
      <div class="col-xs-4 col-lg-3">
        <strong>Youth in Need Hotline</strong><br>
        <abbr title="Phone">P:</abbr> 636-946-3771
      </div>
    </div>
</div>




